body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}

#container1 {
  background-color: crimson;
  max-width: 60%;
  padding: 50px;
  border-radius: 10px;
  margin: 300px auto 0;
}

#newGame {
  line-height: 10px;
  margin: 0 10px 20px;
}

#container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#container2 #home,
#container2 #guest {
  max-width: 250px;
}

#container2 h1 {
  font-size: 50px;
  letter-spacing: 1px;
}

#container2 #score1,
#container2 #score2 {
  font-family: "Oxanium", sans-serif;
  display: flex;
  justify-content: end;
  font-size: 80px;
  color: antiquewhite;
  background-color: black;
  padding-right: 10px;
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 30px;
}

.btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

button {
  background-color: crimson;
  color: antiquewhite;
  border: 1px solid antiquewhite;
  padding: 10px;
  border-radius: 8px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
}

#period {
  margin-top: 0;
  display: flex;
  margin-top: 20px;
}

#period button {
  margin: 0 10px 20px;
}

#period p {
  color: antiquewhite;
  font-size: 20px;
  margin-left: 70px;
  border: 2px solid rgb(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 5px;
}

#chosen-period {
  background-color: black;
  color: red;
}

.winning-team {
  box-shadow: 0 0 10px 5px #48abe0, 0 0 20px 7px #ebecca, 0 0 25px 20px #8a2be2,
    0 0 30px 25px #ff1493;
}
